<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="slotandpreferences">
        <p>Time Slots & Preferences</p>
        <span class="input">Select a Time Slot:</span>
        <div>
            <p><input type="radio" name="" id=""> <span>9:00 AM to 11:00 AM</span></p>
            <p><input type="radio" name="" id=""> <span>1:00 PM to 3:00 PM</span></p>
        </div>
        <hr>
        <span class="input">Select Your Preference :</span>
        <div>
            <p><input type="checkbox" name="" id=""> <span>Instructional Designer</span></p>
            <p><input type="checkbox" name="" id=""> <span>Software Engineer</span></p>
            <p><input type="checkbox" name="" id=""> <span>Software Quality Engineer</span></p>
        </div>
        <hr>
        <p class="resume"><img src="../../../assets/quantum_screen_assets/icons/Upload_black_24dp.svg" alt="ul"><span>Upload Updated Resume</span></p>
    </div>
</body>
</html>