<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>
<body>
    <div class="educational_qualification">
        <form action="">
            <div class="percentage">
                <span class="input">Aggregate Persentage*</span>    
                <p><input type="text" name="" id=""></p>
            </div>
            <div class="passingYear">
                <span class="input">Year Of Passing*</span>    
                <p>
                    <select name="" id="">
                        <option value="">2020</option>
                        <option value="">2024</option>
                    </select>
                </p>
            </div>
            <div class="qualificationLevel horizontal">
                <div class="mainqualification">
                    <span class="input">Qualification*</span>    
                    <p>
                        <select name="" id="">
                            <option value="">Bachelor in Technology (B.tech)</option>
                            <option value="">Master in TEchnology (M.tech)</option>
                        </select>
                    </p>
                </div>
                
                <div class="subqualification">
                    <span class="input">Stream*</span>    
                    <p>
                        <select name="" id="">
                            <option value="">Information Technology</option>
                            <option value="">Computer Science</option>
                        </select>
                    </p>
                </div>
                
            </div>
            <div class="collage horizontal">
                <div class="maincollege">
                    <span class="input">College*</span>    
                    <p>
                        <select name="" id="">
                            <option value="">Nirma Univercity</option>
                            <option value="">IIT bombay</option>
                        </select>
                    </p>
                </div>

                <div class="subcollege">
                    <span class="input">If others, please enter your college name</span>    
                    <p><input type="text" name="" id=""></p>
                </div>
            </div>
            <div class="collageCity">
                <span class="input">Where is your collage located?*</span>    
                <p><input type="text" name="" id=""></p>
            </div>
        </form>
    </div>
</body>
</html>