<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>
<body>
    <div class="personalinfo">  
        <div class="details">
            <form action="">
                <div class="subdetail">
                    <span class="input">First Name*</span>  
                    <p><input type="text" name="" id=""></p>
                </div>
                <div class="subdetail">
                    <span class="input">Last Name*</span>  
                    <p><input type="text" name="" id=""></p>
                </div>
                <div class="subdetail">
                    <span class="input">Email*</span>  
                    <p><input type="email" name="" id=""></p>
                </div>
                <div class="subdetail">
                    <span class="input">Phone Number*</span>  
                    
                    <p> + <input type="text" name="" id="" style="width: 15px;"> &nbsp; <input type="text" name="" id="" style="width: 95px;">
                    </p>
                </div>
                <div class="subdetail">
                    <div class="Resume">
                        <img src="..\..\assets\quantum_screen_assets\icons\Upload_black_24dp.svg" alt="">
                        <p>UPLOAD RESUME</p>
                    </div>
                </div>
                <div class="subdetail">
                    <span class="input">Enter Portfolio URL (if any)</span>  
                    <p><input type="text" name="" id=""></p>
                </div>
                <div class="subdetail">
                    <span class="input">Preferred Job Roles*</span>  
                    <p><input type="checkbox" name="" id=""> Instructional Designer</p>  
                    <p><input type="checkbox" name="" id=""> Software Engineer </p> 
                    <p><input type="checkbox" name="" id=""> Software Quality Engineer </p>
                </div>
                <div class="subdetail">
                    <span class="input">If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You</span>  
                    <p><input type="text" name="" id=""></p>
                </div>
                <div class="subdetail">
                    <p><input type="checkbox" name="" id=""> Send me job related updates via mail</p>
                </div>
                    
            </form>
        </div>
        <div class="profilepic">
            <div>
                <img src="../../assets/quantum_screen_assets/icons/account_circle.svg" alt="Profile pic">
                <p style="font-size: 12px; color: #1F7A54;">UPLOAD DISPLAY PICTURE</p>
                <p style="font-size: 10px; color: #757575;">Max. image size : 5 MB</p>
            </div>
            
        </div>
    </div>
</body>
</html>