<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="hallticket">
        <div class="portal">
            <img src="../../assets/quantum_screen_assets/icons/done.png" alt="done">
            <p>Congratulations ! You have successfully applied for the walk-in opportunity</p>
        </div>
        <hr>
        <div>
            <span class="input">Date & Time of Walk-In :</span>
            <p>03<sup>rd</sup> JULY of 2021</p>
            <p></p>
        </div>
        <hr>
        <div>
            <span class="input">Venue of Walk-In</span>
            <pre>
Zeus Systems Pvt. Ltd. 
1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg 
Lower Parel (W) 
Mumbai - 400 013 
Phone: +91-22-66600000
            </pre>
        </div>
        <hr>
        <div>
            <span class="input">Things to Remember</span>
            <pre>
- Please report 30 MINUTES prior to your reporting time. 
- Download your Hall Ticket from below and carry it with you during your Walk-In.
            </pre>
        </div>
        <hr>
        <button>DOWNLOAD HALL TICKET</button>
    </div>

</body>
</html>