<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>
<body>
    <div class="tracker">
        <div><span [class]="{'done':condition1, 'notdone':true}">1</span> <p>Personal Information</p></div>
        <hr>
        <div><span [class]="{'done':condition2, 'notdone':true}">2</span> <p>Qualification</p></div>
        <hr>
        <div><span [class]="{'done':condition3, 'notdone':true}">3</span> <p>Review and Proceed</p></div>
    </div>
</body>
</html>