body{
    display: grid;
    background-color: #EEEEEE;
}
body *{
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #222222;
    font-size: 16px;
}
.i{
    display: flex;
    margin: 20px;
    background-color: #EEEEEE;
    /* padding: 10px; */
}
.i>p{
    width: fit-content;
}
.i>.edit{
    margin-left: auto;
}
.i >p >img{
    // background-color: #EEEEEE;
    width: 18px;
    height: 18px;
}