<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="final_review">
        <div class="ipersonalinfo i">
            <p>Personal Information</p>
            <p class="edit" style="display: flex; gap: 10px;">
                <img src="../../../assets/quantum_screen_assets/icons/edit.png" alt="penc">
                <span style="color: #1F7A54;">Edit</span>
            </p>
        </div>


        <div class="personalinfo">  
            <div class="details">
                <form action="">
                    <div class="subdetail">
                        <span class="input">First Name*</span>   
                        <p>JOHN  </p>
                    </div>
                    <div class="subdetail">
                        <span class="input">Last Name*</span>   
                        <p>JOHN  </p>
                    </div>
                    <div class="subdetail">
                        <span class="input">Email*</span>   
                        <p>@zeus.com</p>
                    </div>
                    <div class="subdetail">
                        <span class="input">Phone Number*</span>   
                        <p> + 91 1234567890</p>
                    </div>
                    <div class="subdetail">
                        <div class="Resume">
                            <img src="../../../assets/quantum_screen_assets\icons\Upload_black_24dp.svg" alt="">
                            <p>UPLOAD RESUME</p>
                            <p></p>
                        </div>
                    </div>
                    <div class="subdetail">
                        <span class="input">Enter Portfolio URL (if any)</span>   
                        <p>JOHN  </p>
                    </div>
                    <div class="subdetail">
                        <span class="input">Preferred Job Roles*</span>   
                        <p>  Instructional Designer</p>  
                        <p>  Software Engineer </p> 
                        <p>  Software Quality Engineer </p>
                    </div>
                    <div class="subdetail">
                        <span class="input">If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You</span>   
                        <p>JOHN  </p>
                    </div>
                    <div class="subdetail">
                        <p> </p>
                        <p> Send me job related updates via mail</p>
                    </div>
                        
                </form>
            </div>
            <div class="profilepic">
                <div>
                    <img src="../../../assets/quantum_screen_assets/icons/account_circle.svg" alt="Profile pic">
                </div>  
            </div>
        </div>

        <div class="iqualification i">
            <p>Qualifications</p>
            <p class="edit" style="display: flex; gap: 10px;">
                <img src="../../../assets/quantum_screen_assets/icons/edit.png" alt="penc">
                <span style="color: #1F7A54;">Edit</span>
            </p>
        </div>


        <div class="qualification_title">
            <p>Educational Qualifications</p>
            <div>
                <img src="../../../assets/quantum_screen_assets/icons/arrow-down.svg" alt="">
            </div>
        </div>


        <div class="educational_qualification">
            <form action="">
                <div class="percentage">
                    <span class="input">Aggregate Persentage*</span>    
                    <p>65</p>
                </div>
                <div class="passingYear">
                    <span class="input">Year Of Passing*</span>    
                    <p>
                        2024
                    </p>
                </div>
                <div class="qualificationLevel horizontal">
                    <div class="mainqualification">
                        <span class="input">Qualification*</span>    
                        <p>
                            Bachelor in Technology (B.tech)
                        </p>
                    </div>
                    
                    <div class="subqualification">
                        <span class="input">Stream*</span>    
                        <p>
                            Information Technology
                        </p>
                    </div>
                    
                </div>
                <div class="collage horizontal">
                    <div class="maincollege">
                        <span class="input">College*</span>    
                        <p>
                            Nirma Univercity
                        </p>
                    </div>
    
                    <div class="subcollege">
                        <span class="input">If others, please enter your college name</span>    
                        <p>-</p>
                    </div>
                </div>
                <div class="collageCity">
                    <span class="input">Where is your collage located?*</span>    
                    <p>Pune</p>
                </div>
            </form>
        </div>


        <div class="qualification_title">
            <p>Professional Qualifications</p>
            <div>
                <img src="../../../assets/quantum_screen_assets/icons/arrow-down.svg" alt="">
            </div>
        </div>

        <div class="fresher_experienced">
            <span>Applicant Type*</span> <br>
            <div>
                <p></p>
                <p>Experienced</p>
            </div>
        </div>

        <div class="main_details">
            <form action="">
                <div class="tExp">
                    <span class="input">Years Of Experience*</span>
                    <p>5</p>
                </div>
                <div class="cCTC">
                    <span class="input">Current CTC* (in Rupees)</span>
                    <p>500000</p>
                </div>
                <div class="eCTC">
                    <span class="input">Expected CTC* (in Rupees)</span>
                    <p>650000</p>
                </div>
                <div class="techExpert">
                    <span class="input">Select All Technology You Are Expertise In*</span>
                        <p>Javascript</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    <span class="input">If Others, Please Mention</span>
                    <p>-</p>
                    
                </div>
                <div class="techFamil">
                    <span class="input">Select All Technology You Are Familiar In</span>
                        <p>Javascript</p>
                        <p>Angular Js</p>
                        <p></p>
                        <p></p>
                        <p></p>
                    <span class="input">If Others, Please Mention</span>
                    <p>-</p>
    
                </div>
                <div class="onNotic">
                    <span class="input">Are You Currently On Notice Period?*</span>
                    <div class="radio">
                        <p>Yes</p>
                        <p></p>
                    </div>
                </div>
                <div class="duration">
                    <div class="date">
                        <span class="input">If Yes, when will your notice period end?*</span>
                        <p>20-May-2020</p>
                    </div>
                    <div class="durationMonth">
                        <span class="input">How long is your notice period?* (Mention in months)</span>
                        <p>
                            2 months
                        </p>
                    </div>
    
                </div>
                <div class="prevTest">
                    <span class="input">Have You Appeared For Any Test By Zeus in the past 12 months?*</span>
                    <div class="radio">
                        <p></p>
                        <p>No</p>
                    </div>
                    <span class="input">If Yes, which role did you apply for?</span>
                    <p>-</p>
                </div>
    
            </form>
        </div>
        
    </div>
</body>
</html>